[package]
name = "rust_cat"
version = "1.0.5"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
trayicon = "0.1.3"
winreg = "0.50.0"

[dependencies.winapi]
version = "0.3"
features = ["processthreadsapi", "minwindef"]

[build-dependencies]
winres = "0.1"

[package.metadata.winres]
OriginalFilename = "rust_cat.exe"
FileDescription = "π’» => ππΊπΈπΉπ»πΌπ½πβ€β¬›"
LegalCopyright = "Copyright Β© 2021 Bearice Ren <https://github.com/bearice/RustCat>"
